# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

static/geo/gtfs_stm.db

static/geo/gtfs_stm/agency.txt

static/geo/gtfs_stm/calendar_dates.txt

static/geo/gtfs_stm/fare_attributes.txt

static/geo/gtfs_stm/fare_rules.txt

static/geo/gtfs_stm/frequencies.txt

static/geo/gtfs_stm/routes.txt

static/geo/gtfs_stm/shapes.txt

static/geo/gtfs_stm/stop_times.txt

static/geo/gtfs_stm/stops.txt

static/geo/gtfs_stm/trips.txt
